<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".AttendanceApp"
        android:allowBackup="true"
        android:label="Attendance Manager"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceManager">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Attendance Manager"
            android:theme="@style/Theme.AttendanceManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
